.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
.active-filter {
  background-color: lightgreen;
}
.is-done {
  opacity: 0.5;
}
.q{
  position: absolute;
  bottom: 0;
  right: 0;
}
.input-title > *{
  height: 38px;
}
.input-title label{
  top: -8px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  top: -13px !important;
}
.inpText .form-control.is-invalid{
  background-position: right 10px top 10px;
}
.MainInput  .inpText{
  width: 95% !important;
}
.MainInput .inpBtn{
  width: 5% !important;
  position: relative;
  top: -6px;
  left: -10px;
}